[submodule "vendor/cadmium_v2"]
	path = vendor/cadmium_v2
	url = https://github.com/SimulationEverywhere/cadmium_v2.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
